<template name="clientes">
  <head>
      <title>{{title}}</title>
      <!-- <title>WAKAAAAAAAAAAAAAAAAAAAAA</title> -->
  </head>
  
  <body>
    <!-- <i class="home icon big"></i><b style="font-size: 28px; text-align:center;" > Welcome to iNmobile!</b> -->
    {{> menu}}
    <!-- {{#if currentUser}} -->
    <div class="ui segment">
      <div class="sixteen wide column">
        <h1 class="ui dividing header">
          <i class="address book icon"></i> Clientes
          <!-- {{_ "Menú principal"}} -->
        </h1>
        <div class="ui center aligned grid">
          <div class="three wide column left aligned">
              <!-- <Segment style={{overflow: 'auto', maxHeight: 200 }}> -->
                {{> tclientesList}}
              <!-- </Segment> -->
          </div>
          <div class="one wide column center aligned"></div>
          <div class="twelve wide column left aligned"> 
            <div class="ui menu top">
              <a class="item" data-tab="list"><h4>Listar</h4></a>
              <a class="item" data-tab="detail"><h4>Detalles</h4></a>
              <a class="item" data-tab="edit"><h4>Editar</h4></a>
              <a class="item" data-tab="insert"><h4>Insertar</h4></a>
            </div>
            <div class="ui tab" data-tab="list">
            </div>
            <div class="ui tab" data-tab="detail">
                {{> tclientesShow}}
              <!-- <div class="ui form">
                <div class="two fields">
                  <div class="field"><label>First Name</label><input type="text" /></div>
                    <div class="field"><label>Last Name</label><input type="text" /></div>
                </div> -->
            </div>
            <div class="ui tab" data-tab="edit">
              {{> tclientesEdit}}
            </div>
            <div class="ui tab" data-tab="insert">
              {{> tclientesAdd}}
            </div>
          </div>
          <!-- <div class="eight wide column left aligned"></div> -->
        </div>
      </div>
    </div>
    <!-- {{else}}
      {{> no_login}}
    {{/if}} -->
  </body>
</template>

<template name="tclientesList"> 
  <h3>Lista de Clientes</h3>
  <ul>{{#each mostrar}}
    <li class="cliente {{selectedClass}}">{{lnamef}}, {{name}}</li>
    {{/each}}
  </ul>
  <button class="seekcli">Buscar cliente</button>
  <button class="delcli">Borrar cliente</button>
</template>

<template name="tclientesShow">
  <h3>Cliente - Detalles</h3>
  <div id="clientesShow">
    {{mostrar}}
  </div>
</template>
  

<template name="tclientesAdd">
  <h3>Cliente - Insertar</h3>
  <form>
      Documento de Identidad*:<br><input type="text" name="clientDocId" required><br>
      Nombre*:<br><input type="text" name="clientName" required><br>
      Apellido1*:<br><input type="text" name="clientLname" required><br>
      Apellido2:<br><input type="text" name="clientLname2"><br>
      Teléfono1*:<br><input type="text" name="clientTlfno1" required><br>
      Teléfono2:<br><input type="text" name="clientTlfno2"><br>
      Dirección*:<br><input type="text" name="clientDir" required><br>
      CP*:<br><input type="text" name="clientCP" required><br>
      Ciudad*:<br><input type="text" name="clientCity" required><br>
      <br>* Campos obligatorios<br>
      <input type="submit" value="Insertar cliente">
  </form>
  <!-- <button class="addcli">Añadir cliente</button> -->
</template>

<template name="tclientesEdit">
  <h3>Cliente - Editar</h3>
  <div id="clientesEdit">
    {{mostrar}}
  </div>
</template>

<!-- Tabs: Detalles | Añadir | Editar | Borrar -->