<template name="clientes">
  <head>
      <title>{{title}}</title>
  </head>
  
  <body>
    <!-- <i class="home icon big"></i><b style="font-size: 28px; text-align:center;" > Welcome to iNmobile!</b> -->
    {{> menu}}
    <!-- {{#if currentUser}} -->
    <div class="ui segment">
      <div class="sixteen wide column">
        <h1 class="ui dividing header">
          <i class="address book icon"></i> Clientes
          <!-- {{_ "Menú principal"}} -->
        </h1>
        <!-- <div class="ui hidden divider"></div> -->
        <div class="ui center aligned grid">
          <div class="three wide column left aligned">
              {{> tclientesList}}
              <!-- {{> tclientesAdd}} -->
          </div>
          <div class="three wide column left aligned">
              {{> tclientesAdd}}
          </div>
          <div class="ten wide column left aligned"> 
              {{> tclientesEdit}}
          </div>
        </div>
      </div>
    </div>
    <!-- {{else}}
      {{> no_login}}
    {{/if}} -->
  </body>
</template>

<template name="tclientesList"> 
  <h3>Lista de Clientes</h3>
  <ul>{{#each mostrar}}
    <li class="cliente {{selectedClass}}">{{lnamef}}, {{name}}</li>
    {{/each}}
  </ul>
  <button class="editcli">Editar cliente</button>
  <button class="delcli">Borrar cliente</button>

</template>

<template name="tclientesAdd">
  <h3>Clientes - Añadir</h3>
  <form>
      Nombre*:<br><input type="text" name="clientName" required><br>
      Apellido1*:<br><input type="text" name="clientLname" required><br>
      Apellido2*:<br><input type="text" name="clientLname2"><br>
      Documento de Identidad*:<br><input type="text" name="clientDocId" required><br>
      Teléfono1*:<br><input type="text" name="clientTlfno1" required><br>
      Teléfono2:<br><input type="text" name="clientTlfno2"><br>
      Dirección*:<br><input type="text" name="clientDir" required><br>
      CP*:<br><input type="text" name="clientCP" required><br>
      Ciudad*:<br><input type="text" name="clientCity" required><br>
      <br>* Campos obligatorios<br>
      <input type="submit" value="Añadir cliente">
  </form>
  <!-- <button class="addcli">Añadir cliente</button> -->
</template>

<template name="tclientesEdit">
    <h3>Clientes - Editar</h3>
    <div id="clientesEdit">
      {{mostrar}}
    </div>
  </template>
