<template name="login">
  <head>
      <title>{{title}}</title>
  </head>
  
  <!-- <body> -->
    <!-- {{> main}} -->
  <!-- </body>  -->
  
  <!-- <template name="main"> -->
    <!-- <i class="home icon big"></i><b style="font-size: 28px; text-align:center;" > Welcome to iNmobile!</b> -->
  <body>
    <!-- {{> menu}} -->
    <div class="ui segment">
      <div class="sixteen wide column">
        <h1 class="ui dividing header">
          <i class="user icon"></i> Login
          <!-- {{_ "Menú principal"}} -->
          <!-- <img class="ui fluid image right aligned" src="/images/aska_640x640.jpg"> -->
        </h1>
        <!-- <div class="ui hidden divider"></div> -->
        <div class="ui center aligned grid">
          <div class="eight wide column">
            {{> loginButtons}}
            <!-- {{> tclientes}} -->
          </div>
          <div class="eight wide column">
              <!-- {{> tpisos}} -->
          </div>
        </div>
      </div>
    </div>
  </body>
</template>


<!-- {{#if currentUser}}
{{> main}}
{{else}}
{{> loginButtons}}
{{/if}} -->