<template name="menu">
  <!-- <div class="ui stackable container menu"> -->
  <div class="ui top attached tabular inverted menu"> <!--inverted -->
    <a class="item inactive"> <!-- active -->
      <i class="align justify icon"></i>
    </a>
    <!-- Taratura/Info/Noticias/Valoracion/Encargo/Publicidad/Pedido/Oficina/Email/Global -->
    <a class="item">Calendario</a>
    <a class="item">Clientes</a> <!-- SubMs: Info -->
    <a class="item">Taraturas</a> <!-- SubMs: Info, Valoración, ¿Encargos? ¿Pedidos? -->
    <a class="item">Encargos</a>
    <a class="item">Pedidos</a>
    <a class="item">Noticias</a>
    <a class="item">Mapa</a>
    <!-- priv -->
    <a class="item">Publicidad</a>
    <a class="item">Mensajes</a>
    <a class="item">Global</a>
    <a class="item">Control de Oficina</a>
    <div class="right item"> <!--  href="#" -->
      <div class="ui primary button">Registrarse</div>
      <div class="ui button">Iniciar sesión</div>
    </div>
  </div>
</template>
